@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", serif;
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px black;
    color: transparent;
  }
}


/* Hide iframe scrollbar */
.iframe-no-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.iframe-no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}